# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# test output
.coverage
.pytest_cache/*

# data
repos/*

# IDE
.idea
*.sw[po]
.vscode

# sphinx / readthedocs
doc/build/*

#local data
sample_input_files/*