# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# test output
.coverage
.pytest_cache/*

# data
repos/*

# IDE
.idea
*.sw[po]
.vscode

# sphinx / readthedocs
doc/build/*

# tests directories
tests/data/output*
tests/data/access*.yaml
bindings/cpp/tests/output*